{{ $section := site.GetPage "section" "catastrofe" }}

{{ if and $section $section.Params.show }}

  {{ $catastrofePosts := first 4 ($section.Pages.ByDate.Reverse) }}

  <div class="catastrophe">

  <div class="catastrophe-inner">

    <section class="cat_title">
      <h1>{{ $section.Title }}</h1>
    </section>

    <section class="catastrophe-grid">

      <div class="cat_picture">
        {{ with $section.Params.image }}
          <img src="{{ . }}" alt="">
        {{ end }}
      </div>
      
<ul class="cat_articles">
  {{ range $catastrofePosts.ByWeight }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Params.author }}, <em>por {{ partial "author_inline.html" . }}</em>{{ end }}
    </li>
  {{ end }}
</ul>



    </section>

  </div>

</div>

{{ end }}
