{{/* Get all posts in reverse date order */}}
{{ $allPosts := .Site.RegularPages.ByDate.Reverse }}
{{ $postSection := where $allPosts "Section" "in" (slice "post" "resenas") }}

{{/* Select the first post where highlight2 is true */}}
{{ $highlightPost := first 1 (where $postSection "Params.highlight2" true) }}

{{ if gt (len $highlightPost) 0 }}
<div class="misc-posts">
  {{ range $highlightPost }}
    <article class="misc-post">
      
{{ with .Params.thumbnail }}
    {{ $thumb := . }}

    {{/* Detect if thumbnail is a slice (array format) */}}
    {{ if reflect.IsSlice $thumb }}
        {{ $thumb = index $thumb 0 }}

        <div class="misc-thumbnail">
            <img src="{{ $thumb.src | relURL }}" alt="">
        </div>

    {{/* Detect if thumbnail is a string (old simple format) */}}
    {{ else }}
        <div class="misc-thumbnail">
            <img src="{{ $thumb | relURL }}" alt="">
        </div>
    {{ end }}
{{ end }}


      {{/* Title linking to article */}}
      <h3 class="misc-title">
        <a href="{{ .Permalink }}" class="misc-link">{{ .Title }}</a>
      </h3>

      {{/* Author linking to article */}}
      <div class="misc-author">
        {{ if .Params.author }}
          <a href="{{ .Permalink }}" class="misc-link">
            {{ partial "author_names.html" . }}
          </a>
        {{ end }}
      </div>

      {{/* Date */}}
      <div class="misc-date">
        {{ $months := dict "1" "enero" "2" "febrero" "3" "marzo" "4" "abril" "5" "mayo" "6" "junio" "7" "julio" "8" "agosto" "9" "septiembre" "10" "octubre" "11" "noviembre" "12" "diciembre" }}
        {{ $day := .Date.Day }}
        {{ $month := index $months (printf "%d" .Date.Month) }}
        {{ $year := .Date.Year }}
        {{ printf "%d de %s de %d" $day $month $year }}
      </div>

    </article>
  {{ end }}
</div>
{{ end }}
