{{- $today := now -}}
{{- $weekday := $today | time.Format "Monday" -}}
{{- $anchor := $today -}}

{{- if eq $weekday "Monday" -}}
  {{- $anchor = $today.AddDate 0 0 -3 -}}
{{- else if eq $weekday "Wednesday" -}}
  {{- $anchor = $today.AddDate 0 0 -1 -}}
{{- else if eq $weekday "Thursday" -}}
  {{- $anchor = $today.AddDate 0 0 -2 -}}
{{- else if eq $weekday "Saturday" -}}
  {{- $anchor = $today.AddDate 0 0 -1 -}}
{{- else if eq $weekday "Sunday" -}}
  {{- $anchor = $today.AddDate 0 0 -2 -}}
{{- end -}}

{{- $year := int ($anchor | time.Format "2006") -}}
{{- $dayOfYear := $anchor.YearDay -}}
{{- $themeCount := 6 -}}
{{- $themeIndex := add (mod (add (mul $year 13) (mul $dayOfYear 7)) $themeCount) 1 -}}
theme-dynamic theme-{{ $themeIndex }}
