{{- $save := .Title -}}
{{- .Scratch.Set "blocktitle" "" -}}

<div class="pirulo-row">

  {{/* Get latest pirulo by .Date */}}
  {{ $list := where .Site.RegularPages "Section" "bocanadas" }}
  {{ $latest := first 1 (sort $list ".Date" "desc") }}

  {{ if $latest }}
    {{ $item := index $latest 0 }}

    <!-- Link to section -->
    <a class="pirulo-card" href="{{ (site.GetPage "section" "bocanadas").RelPermalink }}">

      {{ with $item.Params.thumbnail }}
        {{ $raw := . }}
        {{ $thumb := dict }}

        {{ if reflect.IsMap $raw }}
          {{ $thumb = $raw }}
        {{ else if reflect.IsSlice $raw }}
          {{ $thumb = index $raw 0 }}
        {{ else if (eq (printf "%T" $raw) "string") }}
          {{ $thumb = dict "src" $raw }}
        {{ end }}

        {{ with $thumb.src }}
          {{ $src := "" }}

          {{ with $item.Resources.GetMatch . }}
            {{ $src = .RelPermalink }}
          {{ else }}
            {{ $src = (. | relURL) }}
          {{ end }}

          <img class="pirulo-img" src="{{ $src }}" alt="{{ $item.Title }}">
        {{ end }}

      {{ end }}

      <div class="pirulo-title-item">{{ $item.Title }}</div>

    </a>
  {{ end }}

</div>

<style>
.pirulo-img {
  max-width: 500px;
}
.pirulo-title-item {
  font-family: 'Jost';
  font-weight: 700;
  font-size: 1.2rem;
}
</style>
