{{ partial "header.html" . }}

<div class="container-article">
  <article>

    <main class="article-layout-authors">

      <!-- LEFT COLUMN (Sidebar) -->
      <div class="article-sidebar">
        <h1 class="post-title">{{ .Title }}</h1>
      </div>

      <!-- RIGHT COLUMN (Main Content) -->
        <div class="authors-grid">

          {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="author-card-link">
              <article class="author-card">

                <div class="author-photo">
                  {{ with .Params.thumbnail }}
                    <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="author-thumb">
                  {{ end }}
                </div>

                <div class="author-bio">
                  <h4>{{ .Title }}</h4>
                  <div class="author-bio-small">
                    {{ with .Params.bio }}{{ . }}{{ end }}
                  </div>
                </div>

              </article>
            </a>
          {{ end }}

        </div>

    </main>

  </article>
</div>

{{ partial "footer.html" . }}
