{{ partial "header.html" . }}

{{/* produce a safe class name from the term */}}
{{ $termClass := .Title | urlize }}

<section class="taxonomy-layout" data-term="{{ .Title | urlize }}">

<!-- Left column: all taxonomy links -->
<aside class="taxonomy-menu {{ $termClass }}">
  <ul>
    {{ $exclude := slice "catastrophe" "catastrofe" "internal" "hidden" "especial-reforma-laboral" "especial-ley-penal-juvenil"}}

{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  {{ $slug := $name | urlize }}
  {{ if and (not (in $exclude $slug)) (not (strings.Contains ($name | lower) "habermas")) }}
    <li>
      <a 
        href="{{ (path.Join "categories" $slug) | relURL }}"
        class="{{ if eq $.Title $name }}active{{ end }}"
      >
        {{ $name }}
      </a>
    </li>
  {{ end }}
{{ end }}
  </ul>
</aside>

  <!-- Right column: posts from this taxonomy -->
  <main class="taxonomy-content">
    {{ partial "taxonomy_grid.html" . }}
  </main>

</section>

{{ partial "footer.html" . }}
