{{ define "main" }}

{{/* get all issues */}}
{{ $issues := where site.RegularPages "Section" "ediciones" }}
{{ $issues = sort $issues "Params.month" "desc" }}

{{ $current := index $issues 0 }}
{{ $previous := after 1 $issues }}

{{/* ================= CURRENT ISSUE ================= */}}


  {{ with $current }}
    {{ partial "issue-full.html" . }}

  {{ end }}

{{/* ================= PREVIOUS ISSUES ================= */}}


<section class="previous-issues">
  
  <ul>
    {{ range $previous }}
        <h2>Ediciones anteriores</h2>
        <a href="{{ .RelPermalink }}" class="previous-issue-link">
        
          {{ with .Params.thumbnail }}
            {{ $thumb := index . 0 }}
            {{ with $thumb.src }}
              <img src="{{ . }}" alt="{{ $.Title }}" class="previous-issue-thumb">
            {{ end }}
          {{ end }}
          {{ .Title }} — {{ .Params.number }}
        </a>
      
    {{ end }}
  </ul>
</section>

{{ end }}
