{{ define "main" }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">

<section class="hero-grid">
  {{ partial "featured_left.html" . }}
  {{ partial "featured_center.html" . }}
  {{ partial "featured_right.html" . }}
</section>

<section class="home-featured">
  <div class="home-featured-left">
    {{ partial "pirulo.html" . }}
  </div>
  <div class="home-featured-center">
    {{ partial "home_callouts.html" . }}
  </div>
  <div class="home-featured-right">
    <div class="home-featured-inner">
      {{ partial "featured_doc.html" . }}
    </div>
  </div>
</section>

{{ partial "secondary_grid.html" . }}

{{ end }}
